
.bg {
  background: url(../../resources/bg.jpg) no-repeat center fixed; 
  background-size: cover;
  position: fixed;
  height:100%; 
  width: 100%;
  top: 0; 
  left:0;
}

.heading-font {
  text-align:center;
  font-family: OpenSans;
  color:#ffffff;
}

p.big {
  line-height: 40.5px;
  font-size:30px;
  letter-spacing: 4.3px;
}

p.small {
  line-height:20.5px; 
}

