.bg {
    background: url(../../resources/bg.jpg) no-repeat center fixed; 
    background-size: cover;
    position: fixed;
    height:100%; 
    width: 100%;
    top: 0; 
    left:0;
    z-index:-1;
  }