button {
  padding: 0.9rem 2.1rem;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  letter-spacing: 5px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  user-select: none;

  background-color: #ffffff;
  color: #9c3fb4;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
}

button:hover {
  /* TODO: Add button hover effects based on design guidelines */
}

@media only screen and (min-device-width : 800px) and (max-device-width : 1024px) {
  button {
    font-size: 1.8rem;
    padding: 1.5rem 3.9rem;
  }
}

/** Large Devices **/
@media only screen  and (min-width : 1824px) {
  button {
    font-size: 2rem;
    padding: 1.7rem 4.1rem;
  }
}